body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

#icon {
    width: 62px;
}

#links {
    padding-right: 10px;
}

#navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(45, 47, 49);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.background-img {
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: blur(10px);
}

.hero {
  height: 650px;
  background-image: url("AFP__20251224__2252701994__v1__HighRes__OklahomaCityThunderVSanAntonioSpurs.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 80px;
  box-shadow: 0 0 5px black;
  margin-left: 20px;
  margin-right: 20px;
  color: white;
}

.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: rgba(0,0,0,0.5); 
  z-index: 1; 
}

.hero-conteudo {
  position: relative;
  max-width: 500px;
  z-index: 2; 
}

.hero h1 {
  font-size: 64px;
  margin: 10px 0;
  font-weight: 700;
}


.subtitulo{
font-size:12px;
letter-spacing:2px;
opacity:0.8;
}

.botao{
display:inline-block;
margin-top:20px;
background:white;
color:black;
padding:12px 22px;
border-radius:25px;
text-decoration:none;
font-weight:600;


}

.botao:hover{
    transform:scale(1.06);
    transition-duration: 0.8s;
}

.navbar2 {
    background: linear-gradient(90deg, #00ffc8, #ff0080);
    top: 50px;
    margin: 0px;
    padding: 40px;
    text-align: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-top: 4px solid #fff;
    font-size: 8px;
    position: relative;
}

.noticias {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(255, 255, 255); /* não exclui a section, so deixei branca */
    padding: 6px;
    margin: 40px;
    border-radius: 40px;

}

.noticia {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    background-color: rgb(46, 46, 46);
    border: 4px solid rgb(255, 255, 255);
    border-image: linear-gradient(90deg, #00FFFF, #FF69B4) 1;
}

.img_noticia {
    width: 300px;
    height: 200px;
}

.img_noticia:hover {
transform:scale(1.08);
}

.barra-sticky {
    position: sticky;
    top: 0px;
    background: linear-gradient(90deg, #00ffbf, #ff2a95);
    color: rgb(0, 0, 0);
    padding: 12px;
    font-weight: bold;
    font-family: 'Trebuchet MS', sans-serif;
    text-align: center;
    border-bottom: 4px solid rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.pos-box {
    width: 420px;
    margin: 20px auto;
    padding: 15px;
    border: 4px solid whitesmoke;
    background-color: rgb(0, 0, 0);
    color: white;

}

.pos-static {
    position: static;
    top: 40px;
    left: 30px;
}

.pos-relative {
position: relative;
top: 20px;
left: 30px;
background-color: yellow;
color: rgb(7, 49, 98);
}



.spurs-lineup{
    position: relative;
    text-align: center;
    max-width: 900px; /* aumentei para dar mais espaço */
    margin: 40px auto;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    z-index: 1;
    padding: 30px;
    border-radius: 18px;
}

.spurs-lineup::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("https://cdn.nba.com/manage/2026/03/tatum-spurs1.jpg") no-repeat center center;
  background-size: cover;
  filter: blur(2px);
  opacity: 0.9;
  z-index: -1; 
  border-radius: 18px;
}

.carousel-section {
    top: 40px;
  margin-top: 0px;
  margin: 0px;
    padding: 1px;
    border-radius: 1px;
    text-align: center;
      position: relative;
  z-index: 5;
}


.carousel {
  position: relative;
  width: 600px;
  height: 400px;
  margin: 60px auto; /* centraliza e empurra para baixo */
  overflow: hidden;
  border-radius: 12px;
  border: 4px solid #fff;
}

.carousel-item {
 position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.player-name {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #222;
  background: rgba(255,255,255,0.8);
  padding: 6px 12px;
  border-radius: 6px;
  z-index: 15;
  margin-top: 20px;
  margin-bottom: 2px;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background: #fff;
  overflow:hidden;

}

.carousel-item.active {
  opacity: 1;
}


.spurs-title{
font-size:36px;
margin-bottom:5px;
}

.spurs-subtitle{
font-weight:normal;
margin-bottom:25px;
color:#777;
}

.spurs-court{
position:relative;
width:500px;
height:650px;
background: linear-gradient(90deg, #dd079d, #06c98e);
border:6px solid #ffffff;
border-radius:18px;
margin:auto;
}


.spurs-player{
position:absolute;
background:#000;
color:#fff;
padding:12px 16px;
border-radius:10px;
font-size:14px;
text-align:center;
}

.spurs-player:hover {
transform:scale(1.08);
}

.spurs-position{
display:block;
font-weight:bold;
font-size:16px;
}

.spurs-name{
display:block;
}

.spurs-pg{top:70px;left:200px;}
.spurs-sg{top:200px;left:70px;}
.spurs-sf{top:200px;right:70px;}
.spurs-pf{top:380px;left:90px;}
.spurs-c{top:380px;right:90px;}

.spurs-logo-img {
    display: block;
    margin: 20px auto;
    transition: transform 0.3s ease;
}

.spurs-logo-img img {
    width: 120px; /* ajuste o tamanho da logo */
    height: auto;
}

.spurs-logo-img:hover {
    transform: scale(1.08);
}

.info-canto{
    position:fixed;
    bottom:15px;
    right:20px;
    background:#000;
    color:#fff;
    padding:7px 10px;
    border-radius:16px;
    z-index:999;
    height: 50px;
    display:flex;
    align-items:center;
    justify-content:center;
    color:#fff;
    font-size:22px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.info-canto:hover{
    transform:scale(1.08);
}

.footer-escrita {
    margin-top: 10px;
    font-size: 14px;
}

footer {
    background: linear-gradient(90deg, #00ffc8, #ff0080);
    padding: 20px;
    text-align: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-top: 4px solid #fff;
    border-radius: 2px;
    border-color: #000;
    font-size: 8px;
    
}

html {
    scroll-behavior: smooth;
}
